.default {
  position: absolute;
  transition: all 0s !important;
  width: 20px;
  height: 20px;
  border: 3px dashed #828282;
  border-radius: 50%;
  user-select: none;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;
  animation: defaultRotate 24s linear infinite;
  background-color: #8400ff14;
}
.default::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #828282;
  border-radius: 50%;
  left: 0;
  top: 0;
  animation: translate-before 1s ease-in-out infinite alternate-reverse;
}
.innerCircle {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px dashed var(--light-text-color);
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 50%;
  animation: rotate 0.5s linear infinite;
  opacity: 0;
}
@keyframes defaultRotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0% {
    border: #828282 solid 2px;
    opacity: 1;
  }
  100% {
    border: #828282 solid 2px;
    opacity: 0.33;
  }
}
@keyframes translate-before {
  0% {
    transform: translate(320%, 320%);
  }
  100% {
    transform: translate(-100%, -100%);
  }
}
