.name::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url('./_assets/robot.svg');
  background-size: cover;
}
.announce::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 16px;
  height: 16px;
  background-image: url('./_assets/annoce.svg');
  background-size: cover;
}
.github::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 16px;
  height: 16px;
  background-image: url('./_assets/github.svg');
  background-size: cover;
}
.home::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 16px;
  height: 16px;
  background-image: url('./_assets/home.svg');
  background-size: cover;
}
.main {
  background-image: linear-gradient(to right, black,#d8d8d8,black,#d8d8d8);
  background-size: 300% 300%;
  background-position: 0 0;
  animation: bg 10s  cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
.textRev {
  background: linear-gradient(to right, white,black,white,black);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 300% 300%;
  background-position: 0 0;
  animation: bg 6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
@keyframes bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
