.main {
  width: 100%;
  padding: 10px 200px;
  position: relative;
  height: calc(100vh - 64px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
.exit {
  color: #233;
  border-right: 4px solid #b6b6ff;
  animation: exit-animation 1.5s ease-in-out;
}
.md {
  overflow: auto;
  padding: 50px;
  padding-top: 0;
  position: relative;
}
.left {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #b6b6ff;
  animation: left-animation 4s ease-in-out infinite;
}

@media screen and (width < 992px) and (orientation: portrait) {
  .main {
    padding: 10px 0;
  }
  .md {
    overflow: auto;
    padding: 16px;
    padding-top: 40px;
    position: relative;
  }
  .read {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0;
    z-index: 5;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .read > div {
    width: 170px;
    left: calc(100% - 186px);
  }
}

@keyframes exit-animation {
  0% {
    transform: translateY(-50%);
  }
  20% {
    transform: translateY(60%);
  }
  40% {
    transform: translateY(-30%);
  }
  50% {
    transform: translateY(30%);
  }
  60% {
    transform: translateY(-20%);
  }
  80% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes left-animation {
  0% {
    transform: translateX(15px);
    opacity: 1;
  }
  60% {
    transform: translateX(-50px);
    opacity: 0;
  }
  90% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(15px);
    opacity: 1;
  }
}
