.main {
  width: 100%;
  padding: 10px 20%;
  position: relative;
  height: calc(100vh - 64px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
.exit {
  background-color: white;
  color: black;
  border: 2px solid black;
  animation: exit-animation 1.5s ease-in-out;
}
.md {
  overflow: auto;
  padding: 50px;
  padding-top: 0;
  position: relative;
}
.left {
  animation: left-animation 4s ease-in-out infinite;
}
@keyframes exit-animation {
  0% {
    transform: translateY(-50%);
  }
  20% {
    transform: translateY(60%);
  }
  40% {
    transform: translateY(-30%);
  }
  50% {
    transform: translateY(30%);
  }
  60% {
    transform: translateY(-20%);
  }
  80% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes left-animation {
  0% {
    transform: translateX(15px);
    opacity: 1;
  }
  60% {
    transform: translateX(-15px);
    opacity: 0;
  }
  70% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(15px);
    opacity: 1;
  }
}
