.edgeGrid {
  display: grid;
  gap: 4px;
  padding: 20px;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-auto-flow: row dense;
  transition: opacity 300ms ease-in-out;
}
.edgeBlock {
  transition: all 0.55s;
  border-radius: 6px;
  overflow: hidden !important;
}
.smooth-shadow-stroke {
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px 0 #fff,
    -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.loading {
  position: relative;
  width: 50px;
  perspective: 200px;
}

.loading:before,
.loading:after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: '';
  animation: jumping 0.5s infinite alternate;
  background: rgba(0, 0, 0, 0);
}

.loading:before {
  left: 0;
}

.loading:after {
  right: 0;
  animation-delay: 0.2s;
}

@keyframes jumping {
  0% {
    transform: scale(1) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1.2) translateY(-25px) rotateX(45deg);
    background: #000;
    box-shadow: 0 25px 40px #000;
  }
}
