.edgeGrid {
  display: grid;
  gap: 4px;
  padding: 20px;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-auto-flow: row dense;
  transition: opacity 300ms ease-in-out;
}
.edgeBlock {
  transition: all 0.55s;
  border-radius: 6px;
  overflow: hidden !important;
}
.smooth-shadow-stroke {
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px 0 #fff,
    -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
