.edgeGrid {
  display: grid;
  gap: 4px;
  padding: 20px;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-auto-flow: row dense;
  transition: opacity 300ms ease-in-out;
}
.edgeBlock {
  transition: background-color 0.55s;
  border-radius: 6px;
  overflow: hidden !important;
}
