.bookTop {
  width: calc(100% - 200px);
  height: 100%;
  border-radius: 4rem 10rem 0 0;
}
.clip {
  -webkit-clip-path: polygon(0 30%, 0% 100%, 20% 100%);
  clip-path: polygon(0 30%, 0% 100%, 20% 100%);
  margin-left: -18px;
  pointer-events: none;
}
.boxContainer {
  perspective: 2000px;
  transform-style: preserve-3d;
}
.boxLeft {
  transform: rotateY(52deg) rotateX(0deg) skewY(-48deg);
}
.boxRight {
  transform: rotateY(52deg) rotateX(0deg) skewY(-48deg);
}
