.enterFade > * {
  --stagger: 0;
  --delay: 150ms;
  animation: slide-enter 0.8s both ease-in-out;
  animation-delay: calc(var(--stagger) * var(--delay));
}
@keyframes slide-enter {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@for $i from 1 through 20 {
  .enterFade > *:nth-child(#{$i}) {
    --stagger: #{$i};
  }
}
