@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-bg-color: #F8F9FF;
  --base-text-color: #4c4f69;
  --light-text-color:#585b70;
  --dark-text-color:#181926;
  --base-light-color:#eff1f5;

}
.font-base {
  font-family: var(--font-baseEN), var(--font-baseZN);
  font-size: 18px;
  color: var(--base-text-color);
}