.itemBox {
  position: relative;
  width: 360px;
  height: 400px;
  overflow: hidden;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 16px;
  background-color: #c5c5c511;
  border: 4px solid #001eff09;
  color: rgba(39, 39, 39, 0.5);
  transition: all 0.25s;
  border-radius: 10px;
  cursor: none;
  &:hover {
    background-color: rgba(136, 136, 136, 0.114);
    color: #585b70;
    font-weight: bold;
  }
  > div > div > h6 {
    width: calc(100% - 82px);
    left: 66px;
    top: 32px;
  }
  > div > div > ul {
    list-style-type: square;
    font-weight: 400;
    color: #717386;
    text-overflow: inherit;
    white-space: wrap;
    display: inline-block;
    top: 70px;
    width: 100%;
    left: 10px;
    // padding: 10px;
    padding: 0 10px;
    height: 320px;
    line-height: 30px;
    background-image: repeating-linear-gradient(
      to bottom,
      #001eff09,
      #001eff09 2px,
      transparent 2px,
      transparent 30px
    );
    background-size: 2px 100%;
    background-clip: content-box;
    background-repeat: repeat-x;
  }
}
