.main {
  backdrop-filter: saturate(50%) blur(1px);
  -webkit-backdrop-filter: saturate(50%) blur(1px);
}
.rootBar {
  @apply px-4 py-1 mx-1 rounded-xl;
  color: #585b70a7;
  transition: all 0.2s;
  &:hover {
    background: rgba(255, 255, 255, 1);
    color: #000000d2;
    border-radius: 10px;
  }
}
.icon {
  @apply h-10 w-10 mx-1 flex flex-col items-center justify-center;
  transition: all 200ms ease-in-out;
  & > [data-addtext] {
    position: absolute;
    font-size: 10px;
    font-weight: 100;
    bottom: -4px;
    color: #585b70a7;
    transition: all 400ms ease-in-out;
    transform: translateY(8px);
    opacity: 0;
  }
  &:hover {
    transform: translateY(-4px);
    & > [data-addtext] {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
.visAdd {
  animation: addAnimate 2s ease-in-out forwards;
  animation-delay: 1s;
}
@keyframes addAnimate {
  0% {
    transform: translateY(10px);
    color: yellow;
    opacity: 0;
  }
  25% {
    transform: translateY(0);
    color: seagreen;
    opacity: 1;
  }
  75% {
    transform: translateY(0);
    color: seagreen;
    opacity: 1;
  }
  100% {
    transform: translateY(-10px);
    color: red;
    opacity: 0;
  }
}
