.main {
  background-image: radial-gradient(transparent 2px, white 2px);
  background-size: 4px 4px;
  backdrop-filter: saturate(50%) blur(4px);
  -webkit-backdrop-filter: saturate(50%) blur(4px);
}
.rootBar {
  @apply px-2 py-1 mx-1;
  color: var(--light-text-color);
  transition: all 0.2s;
  &:hover {
    padding-bottom: 12px;
    background: linear-gradient(to bottom, #fff6ef 0%, transparent 25%, transparent 100%);
  }
}
.icon {
  @apply p-2 mx-1 rounded-full;
  transition: all 150ms;
  &:hover {
    transform: rotateZ(-24deg) translateY(-2px);
  }
}
.visAdd {
  animation: addAnimate 2s ease-in-out forwards;
  animation-delay: 1s;
}
@keyframes addAnimate {
  0% {
    transform: translateY(10px);
    color: yellow;
    opacity: 0;
  }
  25% {
    transform: translateY(0);
    color: seagreen;
    opacity: 1;
  }
  75% {
    transform: translateY(0);
    color: seagreen;
    opacity: 1;
  }
  100% {
    transform: translateY(-10px);
    color: red;
    opacity: 0;
  }
}
